body {
  padding-top: 74px;
}
.navbar-header h6 {
  color: #666;
}
footer {
  paddng-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #ccc;
}
.navbar-form {
  margin-top: 18px;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.top-padding-med {
  padding-top: 10px;
}
.margin-left-med {
  padding-left: 10px;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #13987e;
}
