.container
    .jumbotron
        h1 Multivision
        p Welcome to Multivision! The most comprehensive and compete collection of extreme tech training video on the web.

    .row
        .col-md-6
            div(ng-include="'/partials/main/fetured-courses'")
        .col-md-6
            div(ng-include="'/partials/main/new-courses'")